---
import Section from './Section.astro'
---

<Section id="about" title="About">
	<p>
		Experienced senior Frontend Developer with 5+ years in the industry,
		specialising in ecommerce mainly. Proficient in frontend and versatile in
		backend development, emphasising clean code and best practices.
	</p>
	<p class="mt-6">
		Adept problem solver with a detail-oriented approach. Quick learner staying
		updated with industry trends. Native spoken/written Catalan and Spanish, and
		professional English with strong communication skills.
	</p>
	<p class="mt-6">
		Experience working for international companies with multicultural
		backgrounds.
	</p>
</Section>
