---
import Experience from "../components/Experience.astro";
import Section from "../components/Section.astro";

import { getCollection } from 'astro:content';

const experiences = await getCollection('experience')
const sortedExperiences = experiences.sort((a, b) => b.data.order - a.data.order)
---

<Section id="experience" title="Experience">
	{sortedExperiences.map((experience) => <Experience experience={experience.data} />)}
</Section>
