---
import Section from "./Section.astro"
import Project from "./Project.astro"

import { getCollection } from 'astro:content';

const projects = await getCollection('project')
const sortedProjects = projects.sort((a, b) => b.data.order - a.data.order)
---

<Section id="projects" title="Projects">
	{sortedProjects.map(project => <Project {...project.data} />)}
</Section>
