---
import { Icon } from "astro-icon/components";

import { getCollection } from "astro:content";

const socials = await getCollection("social");
---

<div class="flex items-center gap-x-6 my-10 lg:my-0">
	{
		socials.map((social) => (
			<a href={social.data.link} target="_blank">
				<Icon
					class="text-normal/70 text-3xl hover:text-vanilla cursor-pointer"
					name={social.data.icon}
					title={social.data.name}
				/>
			</a>
		))
	}
</div>
